
//  =================================== 
//  ===================================
// <!------- the navigation style start here ----->
//  =================================== 
//  =================================== 

.navigation {

    display: flex;
    align-items: center;
    padding: 1rem 4rem;

    &__logo  {
        width: 7rem;
        height: 7rem;
        margin-right: auto;
    }


    &__list {

        list-style: none;
        display: flex;
        justify-content: flex-end;
    }


    &__item {

        padding: 1rem 2rem;

    }


    &__link {

        text-decoration: none;
        color: white;
        font-size: 1.6rem;
        transition: all .7s ease-in;
        padding-bottom: .5rem;

        @media only screen and (max-width:$larage){
            font-size: 2rem;
        }
    
        &:hover {

            border-bottom: 3px solid black;
        }
    
    }

}


//  =================================== 
//  ===================================
// <!------- the fetures style start here ----->
//  =================================== 
//  =================================== 

.fetures {

    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to left bottom,rgb(15, 1, 1),rgb(56, 7, 7));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -10rem;

    @media only screen and (max-width:$larage){
        
        flex-direction: column;
    }

    &__box {

        padding: 1rem 3rem;
        background-color: rgba(black, .5);
        margin: 2rem;
        color: #fff;
        text-align: center;
        clip-path: polygon(0% 14% , 100% 0 , 100% 90%, 0 100%);
        padding: 3rem;
        box-shadow: 1rem 2rem 4rem rgba(black, .5);
    }

    &__title {

    }


    &__desc {

    }
}


//  =================================== 
//  ===================================
// <!------- the about style start here ----->
//  =================================== 
//  =================================== 


.about {

    display: flex;
    
    background-image: linear-gradient(to right bottom,#222,#000);

    @media only screen and (max-width:$larage){
        
        flex-direction: column;
    }

    &__text {
        max-width: 45%;
        margin-right: 5rem;  
        color: white; 
        
        @media only screen and (max-width:$larage){
        
            max-width: 100%;
        }
    }


    &__images {
        position: relative;
        padding-top: 6rem;
        width: 50%;

        @media only screen and (max-width:$larage){
        
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }


    &__img {
        position: absolute;
        width: 35rem;
        height: auto;
        transform: scale(1.2);
        transition: all .5s ease-in-out;
        z-index: 10;

        @media only screen and (max-width:$larage){
        
            width: 20rem;
           
            position: relative;

        }
    
        &--1 {
            right: 0;
            top: 2rem;

            @media only screen and (max-width:$larage){
        
               top: 0;
            }
          
        }


        &--2 {
           left: 7rem;
           @media only screen and (max-width:$larage){
        
            left: 0;
           }
        }


        &--3 {
           
            right: 4rem;
            top: 13rem;

            @media only screen and (max-width:$larage){
        
                top: 0;
                right: 0;

            }
        }

        &:not(:hover) {

            transform: scale(1);
            z-index: 1;
        }
    }
}


//  =================================== 
//  ===================================
// <!------- the app style start here ----->
//  =================================== 
//  =================================== 

.app {

display: flex;
@media only screen and (max-width:$larage){
        
    flex-direction: column;
}

&__img {

        width: 50%;
        display: flex;
        justify-content: center;
        
      

        &--container {
            position: relative;
            width: 39%;
            height: 52%;
            // background-color: rgba(0, 0, 0, 0.356);
            transform: rotate(-30deg) skew(20deg);
            transition: all .5s ease-in-out;

            @media only screen and (max-width:$larage){
        
                width: 80%;
                height: 52%;
            }
        }

        &--photo {

            width: 100%;
            position: absolute;
            transition: all .5s

        
        }


        &:hover &--photo--4 {
            transform: translate(140px,-140px);
            opacity: 1;
        } 

        &:hover &--photo--3 {
            transform: translate(100px,-100px);
            opacity: .8;
        } 

        &:hover &--photo--2 {
            transform: translate(60px,-60px);
            opacity: .6;
        } 

        &:hover &--photo--1 {
            transform: translate(20px,-20px);
            opacity: .4;
        }



    }


    &__desc {

        max-width: 45%;
        margin-left: 6rem;
        @media only screen and (max-width:$larage){
        
            max-width: 100%;
            margin-left: 0;
        }
    }
}




//  =================================== 
//  ===================================
// <!------- the gallery style start here ----->
//  =================================== 
//  =================================== 


.gallery {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10rem 0;
    width: 100%;


    &__item {
        position: relative;
        width: 25%;
        display: block;
        overflow: hidden;
        
        @media only screen and (max-width:$larage){
        
         width: 50%;
        }
    }


    &__img {
        width: 100%;
        overflow: hidden;


        & > img {
            width: 100%;
            transform: scale(1.1);

        }
    }


    &__box{
         background-color:rgba(0, 0, 0, 0.548);
         color: #fff;
         padding: 1.5rem; 
         position: absolute;  
         top: 0;
         height: 100%;
         transform: scale(0);
        //  opacity: 0;
        //  visibility: hidden;
         transition: all .5s;
         @media only screen and (max-width:$larage){
        
            padding: .5rem;
        }
    }

    &__item:hover &__box {
        transform: scale(1);
        // opacity: 1;
        // visibility: visible;
    }



}

//  =================================== 
//  ===================================
// <!------- the price style start here ----->
//  =================================== 
//  =================================== 

.price {
    display: flex;
    justify-content: center;


    @media only screen and (max-width:$larage){
        flex-direction: column;
        align-items: center;
        padding: 1rem 4rem;
    }

    &__box {

        width: 30%;
        text-align: center;
        background-image: linear-gradient(to right bottom,rgba(3, 128, 20, 0.527),orange);
        padding: 4rem 1rem;
        border-radius: 100px;
        margin: 0 2rem;
        color:#fff;
        box-shadow: 1rem 2rem 3rem rgba(#000,.3);
        transition: all .5s;

        @media only screen and (max-width:$laragest){
            margin: 0 .5rem;
        }

        @media only screen and (max-width:$larage){
            width: 60%;
            margin-bottom: 1rem;
            padding: 2rem .5rem;
            
        }
    

        &:hover {
            transform: translateY(4px);
            box-shadow: 2rem 3rem 4rem rgba(#000,.7);

        }

    }

    &__icon {
        width: 10rem;
        height: 10rem;
        fill: #222;
        margin-bottom: 2rem;
        background-color: transparent;
        box-shadow: 2rem 3rem 4rem rgba(#000,.7);

    }

    &__title {
        margin: 0 0 1rem 0;
        display: block;
        width: 100%;

    }

    &__value {
        display: block;
        font-size: 5rem;
    }

    &__list {
        list-style: none;
        width: 60%;
        margin: 3.5rem auto;
       
    }

    &__item {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        
        &:not(:last-of-type) {

          
            margin-bottom: 2rem;
        }
    }

    &__icon--small {

        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        fill: #fff;

    }


}


//  =================================== 
//  ===================================
// <!------- the form style start here ----->
//  =================================== 
//  =================================== 

.form__content {

    background-image:linear-gradient(rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.479)), url(../img/pexels-photo-1485894.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.form {

    background-color: rgba(#000,.3);
    margin: 0 auto;
    text-align: center;
    padding: 3.5rem;
    position: relative;
    width: 50%;
    box-shadow: 1rem 2rem 3rem rgba(#000,.3);

    

    &__input {

        display: block;
        margin: 2rem auto;
        border: none;
        padding: 1.5rem 2rem;
        border-radius: 5px;
        width: 100%;

    }

    &__btn {

        border: none;
        border-radius: 100px;
        font-size: 1.6rem;
        background-image: linear-gradient(red,orange);
        display: inline-block;
        margin: 3rem;
        padding: 1.5rem 3rem;
        color: #fff;
    }
}



//  =================================== 
//  ===================================
// <!------- the footer style start here ----->
//  =================================== 
//  =================================== 
